project_name             = "cinevision"
aws_profile              = "cinevision-staging"
primary_region           = "us-east-1"
dr_region                = "us-west-2"
cidr_block               = "10.20.0.0/16"
azs                      = ["us-east-1a", "us-east-1b", "us-east-1c"]
public_subnet_cidrs      = ["10.20.0.0/24", "10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs     = ["10.20.10.0/24", "10.20.11.0/24", "10.20.12.0/24"]
database_subnet_cidrs    = ["10.20.20.0/24", "10.20.21.0/24", "10.20.22.0/24"]
frontend_bucket_name     = "staging-cinevision-staging-frontend"
logs_bucket_name         = "staging-cinevision-staging-logs"
frontend_aliases         = ["staging.DOMAIN_NAME"]
acm_certificate_arn      = "arn:aws:acm:us-east-1:ACCOUNT_ID:certificate/STAGING_CERTIFICATE_ID"
rds_instance_class       = "db.t4g.large"
db_name                  = "cinevision"
db_username              = "cinevision_admin"
docdb_master_username    = "cinevision_docdb_admin"
database_credentials_secret_name = "/cinevision/staging/database-credentials"
application_secrets_secret_name  = "/cinevision/staging/application-secrets"
redis_node_type          = "cache.t4g.medium"
msk_broker_count         = 3
msk_broker_instance_type = "kafka.m5.large"
node_groups = {
  general = {
    instance_types = ["m5.large"]
    desired_size   = 3
    min_size       = 3
    max_size       = 6
    disk_size      = 80
    capacity_type  = "ON_DEMAND"
  }
}
tags = {
  Owner = "platform-team"
}
